.ic-html { 	background-image: url('../images/html.svg'); }
.ic-css { 	background-image: url('../images/css.svg'); }
.ic-js { 	background-image: url('../images/js.svg'); }
.ic-bootstrap { 	background-image: url('../images/bootstrap.svg'); }
.ic-git { 	background-image: url('../images/git.svg'); }
.ic-github { 	background-image: url('../images/github.svg'); }
.ic-java { 	background-image: url('../images/java.svg'); }
.ic-php { 	background-image: url('../images/php.svg'); }
.ic-laravel { 	background-image: url('../images/laravel.svg'); }
.ic-composer { 	background-image: url('../images/composer.svg'); }
.ic-sql { 	background-image: url('../images/sql.svg'); }
.ic-npm { 	background-image: url('../images/npm.svg'); }
.ic-oop { 	background-image: url('../images/oop.svg'); }
.ic-firebase { 	background-image: url('../images/firebase.svg'); }
.ic-illustrator { 	background-image: url('../images/illustrator.svg'); }
.ic-photoshop { 	background-image: url('../images/photoshop.svg'); }
.ic-coreldraw { 	background-image: url('../images/coreldraw.svg'); }
.ic-3dsmax { 	background-image: url('../images/3dsmax.svg'); }
.ic-table-jv { 	background-image: url('../images/table-jogo-da-velha.svg'); }
.ic-player-x { 	background-image: url('../images/player-x.svg'); }
.ic-player-o { 	background-image: url('../images/player-o.svg'); }