*{ padding:0;margin:0;text-decoration:none;}

body { font-family:Poppins }

h2{text-align: center; padding: 10px; color: #07084a}
.app{
	background: #eee;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex
;
    background: radial-gradient(#141682, #07084a);
    color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

.mapa {align-self: flex-end;}

.d0, .d1, .mapaTotal {
	display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.tituloMapa{
	width: 50px;
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
}

table {
	    width: 100%;
    border-collapse: collapse;
    border: none;
    outline: none;
}

th {
	background: #07084a;
	color: white;
	padding: 5px 0;
}
td{padding: 5px; border-bottom: 1px solid #ddd}
tr:nth-child(even) { background:#eee; }
tr:nth-child(odd) { background:#fff; }

td, th { text-align:left; padding-left:10px }

#teclado {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    background: radial-gradient(#141682, #07084a);
}

.tecladoLinha {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.tecla {
    width: 30%;
    height: 48px;
    margin: 2px;
}

#apagar { background-color: darkred; color: white; }

#buscar { background-color:lightgreen; color:darkgreen; }

.tecla button { 
width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: x-large;}

#atualizar {
    width: calc(100% - 40px);
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

textarea { height:200px; }